body {
  background-color: #1c1c1c;
  font-family: "YiSunShinDotumM";
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 410px;
}

/* header */
img {
  width: 115px;
}

h2 {
  /* 이따 피그마에서 CSS 가져올거예요! */
  color: #fff;
  font-family: "YiSunShin Dotum M";
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 회원가입 폼 */
form {
  display: flex;
  width: 413px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.signup_section {
  margin: 0 0 15px 3px;
}

.signup_section span {
  /* 이따 피그마에서 CSS 가져올거예요! */
  color: #fff;
  font-family: "YiSunShin Dotum M";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signup_section input {
  /* 이따 피그마에서 CSS 가져올거예요! */
  width: 413px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid #97afe3;
  color: #ccd2e0;
  font-family: "YiSunShin Dotum M";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #1c1c1c;
  margin-top: 5px;
  padding-left: 10px;
}

input::placeholder {
  color: #ccd2e0;
}

button {
  font-family: "YiSunShinDotumM";
  width: 425px;
  height: 58px;
  border-radius: 10px;
  background: #97afe3;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
