body {
  background-color: #ebebeb;
  margin: 1.25rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.movie-chart-title {
  font-weight: 500;
  font-size: 2.5rem;
  min-width: 68.125rem;
  border-bottom: 0.25rem solid #3b3b3b;
  padding: 1rem 0;
}

#movieContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, auto); */
  gap: 1.25rem;
  padding: 1.25rem;
}

.card {
  width: 21.875rem;
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 0.9375rem;
}

.card-title {
  font-size: 1.25rem;
  margin: 0 0 0.625rem;
  color: #3b3b3b;
}

.card-rating {
  font-weight: 700;
  font-size: 1rem;
  color: #e67e22;
}

.card-description {
  font-size: 1rem;
  color: #9a9a9a;
  margin-top: 0.3125rem;
  white-space: pre;
}
