@font-face {
  font-family: "YiSunShinDotumM";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1c1c1c;
  font-family: "YiSunShinDotumM";
}

input {
  font-family: inherit;
}

/* 1. 로그인 박스 */
div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 550px;
  border-radius: 30px;
  border: 1px solid #fff;
}

/* 2. 로고 */
header {
  margin-top: 40px;
  display: grid;
  place-items: center;
  gap: 25px;
}

/* 3. 로그인 폼 */
form {
  margin-top: 50px;
  display: grid;
  place-items: center;
}

input::placeholder {
  color: #ccd2e0;
}

.login_btn {
  margin-top: 40px;
  width: 410px;
  height: 50px;
  border-radius: 10px;
  background: #97afe3;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

#id {
  border-radius: 10px 10px 0 0;
  border: 1.5px solid #97afe3;
  width: 400px;
  height: 55px;
  padding-left: 10px;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 12px;
}

#password {
  margin-top: -1.5px;
  border-radius: 0 0 10px 10px;
  border: 1.5px solid #97afe3;
  width: 400px;
  height: 55px;
  padding-left: 10px;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 12px;
}

/* 4. 아직 회원이 아니신가요? 회원가입하기 */
.ask_member {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#ask_member {
  color: #979797;
  font-size: 15px;
}

#to_signup {
  flex-direction: column;
  color: #97afe3;
  font-weight: 700;
  font-size: 15px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-position: from-font;
}
